<div class="accordion mb-5" id="faq-accordion">

  <div class="card">
    <div class="card-header" id="faq-started">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-started" aria-expanded="true" aria-controls="collapse-started">
        Getting Started
      </button>
    </div>
    <div id="collapse-started" class="collapse show" aria-labelledby="faq-started" data-parent="#faq-accordion">
      <div class="card-body">
        <h3>New</h3>
        <p>
          <ul>
            <!-- <li class="new">2021/MM/DD <strong><u><a href="https://github.com/Lilyheart/agile-gitlabce/releases/tag/vX.X.X">vX.X.X</a></u></strong>: XXXXXX <span class="badge badge-primary">New</span></li> -->
            <li class="new">2022/10/28 <strong><u><a href="https://github.com/Lilyheart/agile-gitlabce/releases/tag/v0.3.4">v0.3.4</a></u></strong>: Disabled OAuth login due to GitLab authentication changes. <span class="badge badge-primary">New</span></li>
            <li class="">2021/10/28 <strong><u><a href="https://github.com/Lilyheart/agile-gitlabce/releases/tag/v0.3.3">v0.3.3</a></u></strong>: Updated <strong>"Send Feedback"</strong> link to go directly to feedback repository on Bucknell's GitLab</li>
            <li class="">2021/10/13 <strong><u><a href="https://github.com/Lilyheart/agile-gitlabce/releases/tag/v0.3.2">v0.3.2</a></u></strong>: Bug affecting calculating date to apply spent change has been fixed.  This is in result to a GitLab change in how spent time comments are published.</li>
            <li class="">2020/02/20 <strong><u><a href="https://github.com/Lilyheart/agile-gitlabce/releases/tag/v0.3.0">v0.3.0</a></u></strong>: Now in Beta!!!  View a burndown chart of specific sprints <strong>[Release Tab]</strong>.  If you have any issues with it, find me or use the Send Feedback link above.</li>
            <!-- <li>2019/12/07 <strong><u><a href="https://github.com/Lilyheart/agile-gitlabce/releases/tag/v0.2.8">v0.2.8</a></u></strong>: Survey
              <p>I know we might be tired of feedback surveys, but I would appreciate it if you could take the time to complete the survey on the tab that will load once you are logged into your Gitlab from this page.</p>
            </li> -->
            <li>2019/12/03 <strong><u><a href="https://github.com/Lilyheart/agile-gitlabce/releases/tag/v0.2.7">v0.2.7</a></u></strong>: Issues that might be causing problems
              <ul>
                <li>Any issues that might cause problems on the burndown chart will now appear on a new Errors/Warnings tab</li>
              </ul>
              <!-- When deleting the below section, be sure to remove new tag -->
            </li>
            <li>2019/12/02 <strong><u><a href="https://github.com/Lilyheart/agile-gitlabce/releases/tag/v0.2.6">v0.2.6</a></u></strong>: Bookmarks and Chart styles
              <ul>
                <li>You can bookmark your project after it's been loaded</li>
              </ul>
            </li>
          </ul>
        </p>
        <h3>Getting Started</h3>
        <p>
          This site currently allows you to view issues and burndown charts for code repositories stored on a Gitlab server.  Features include:
        </p>
        <ul>
          <li>Filter issue lists by Name, sprint, state, and assignee</li>
          <li>View and <strong><em>download</em></strong> Burndown charts for the project or by sprint (i.e., Gitlab's Milestones)</li>
          <li>See the amount of time logged spent by team members for the project or by sprint</li>
        </ul>
        <p>
          The website is continuously being improved, and new features are added regularly.  Feedback can be provided using the Send Feedback button above.
        </p>
        <div class="accordion" id="login-accordion">
          <!-- <button class="btn btn-outline-secondary btn-block" data-toggle="collapse" href="#login-details">
            Log in
          </button > -->
          <!-- <div class="collapse show" id="login-details" data-parent="#login-accordion">
            The easiest way to authenticate is by logging into Gitlab through this application.  In the Gitlab setup, select the Log in button.
            <ul>
              <li>Select the specific GitLab website you want to access in the dropdown</li>
              <ul>
                <li>If your website is missing, you will need to use the API Key method</li>
                <li>If you want your add your website, see the instructions later in this FAQ</li>
              </ul>
              <li>Click the Login to Gitlab button</li>
              <li>This will forward you to your Gitlab website.  If you are not already logged into the site, you will be prompted to log in</li>
              <li>The first time you log in, you will need to authorize AgileGitlab to use your account. AgileGitlab requests API access to your account to analyze the issue data. This access can be revoked following the steps later in this FAQ</li>
            </ul>
          </div> -->

          <button class="btn btn-outline-secondary btn-block" data-toggle="collapse" href="#apikey-details">
          API Key
          </button >
          <div class="collapse show" id="apikey-details" data-parent="#login-accordion">
            <ul>
              <li>To find your Gitlab URL:</li>
              <ul>
                <li>There is no single place to determine your Gitlab URL</li>
                <li>The URL is in the form https://gitlab.example.com/api/v4</li>
                <li>The to begin with, try adding /api/v4 to the end of the URL you use to access Gitlab.  If this doesn’t work, you will need to contact your Gitlab administrator to find out the API URL</li>
              </ul>
              <li>To find your API Key:</li>
              <ul>
                <li>Log into your Gitlab website</li>
                <li>In the top left corner, click your profile image and select Settings</li>
                <li>On the left-hand side, select Access Tokens</li>
                <li>Create a new token with API access.  You will need to store this token somewhere, as Gitlab will only display it once</li>
              </ul>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="faq-project">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-project" aria-expanded="false" aria-controls="collapse-project">
        Selecting a Project
      </button>
    </div>
    <div id="collapse-project" class="collapse" aria-labelledby="faq-project" data-parent="#faq-accordion">
      <div class="card-body">
        <p>
          By default, only projects where you have maintainer access are shown.  If you need to see all repositories you have access to on this Gitlab website, select Show all Repos.  Note, this may take a while to load.
        </p>
        <p>
          To select a specific project, you can either begin to type the name in the selection box or scroll to the project using the dropdown arrow.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="faq-issue">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-issue" aria-expanded="false" aria-controls="collapse-issue">
        The Issues Tab
      </button>
    </div>
    <div id="collapse-issue" class="collapse" aria-labelledby="faq-issue" data-parent="#faq-accordion">
      <div class="card-body">
        <p>This tab displays all issues in the repository.</p>
        <p>The search box will search all fields and filter the table to display the results.</p>
        <p>The plus symbol will display any fields that that table cannot display.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="faq-burndown">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-burndown" aria-expanded="false" aria-controls="collapse-burndown">
        The Burndown Tab
      </button>
    </div>
    <div id="collapse-burndown" class="collapse" aria-labelledby="faq-burndown" data-parent="#faq-accordion">
      <div class="card-body">
        <p>
          This tab display burndown charts and hours spent by each team member.  The chart can be filtered by:
        </p>
        <ul>
          <li>All Issues in the project</li>
          <li>All Issues without a milestone</li>
          <li>Milestones</li>
        </ul>
        <p>
          To download the chart as an image, click the menu button on the top right corner of the chart image.
        </p>
        <p>
          Below the burndown chart is a table displaying all members who spent time in the issue relevant to the milestone selected.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="faq-burndown-types">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-burndown-types" aria-expanded="false" aria-controls="collapse-burndown-types">
        The Burndown Chart Types
      </button>
    </div>
    <div id="collapse-burndown-types" class="collapse" aria-labelledby="faq-burndown-types" data-parent="#faq-accordion">
      <div class="card-body">
        <h3>Chart Types <span class="badge badge-primary">New</span></h3>
        <p>
          There are two types of burndown charts:
        </p>
        <ul>
          <li>Use Final Estimates Only: <strong>Takes into account only the last estimated time entered</strong></li>
          <li>Show Changes in Estimate: <strong>Indicates any changes to estimates on the date the new estimate was entered</strong></li>
        </ul>
        <h4>Differences</h4>

        The following features are different between the two different burndown chart types.

        <table id="burndownchart-types" class="table table-dark table-striped"  style="width:100%">
          <thead>
            <tr>
              <th width="34%" scope="col" class="text-center"> </th>
              <th width="33%" scope="col" class="text-center">Use Final<br />Estimate Only</th>
              <th width="33%" scope="col" class="text-center">Show Changes<br />in estimate</th>
            </tr>
          </thead>
          <tbody>


            <tr class="bg-primary">
              <td></td>
              <td scope="row" class="text-center">Estimates</td>
              <td></td>
            </tr>
            <tr>
              <td scope="row">What times are used?</td>
              <td>Only last estimate entered</td>
              <td>Changes in estimates show on the days changes are made</td>
            </tr>
            <tr>
              <td scope="row">Estimate changes entered after the end of the chart?</td>
              <td>Is included in the sum used at the beginning of the chart</td>
              <td>Shows on the date estimated added/updated</td>
            </tr>



            <tr class="bg-primary">
              <td></td>
              <td scope="row" class="text-center">Ideal Burndown Line</td>
              <td></td>
            </tr>
            <tr>
              <td scope="row">Beginning value</td>
              <td>The sum of the last estimated times entered</td>
              <td>The sum of the estimated times entered as of the first date on the chart</td>
            </tr>



            <tr class="bg-primary">
              <td></td>
              <td scope="row" class="text-center">Remaining Effort Line</td>
              <td></td>
            </tr>
            <tr>
              <td scope="row">Beginning value</td>
              <td>The sum of the last estimated times entered minus any spent time on that day</td>
              <td>The sum of the estimated times entered as of the first date on the chart minus any spent time on that day</td>
            </tr>
            <tr>
              <td>How value changes</td>
              <td>The previous day's remaining effort minus any spent time on that day</td>
              <td>The previous day's remaining effort minus any spent time on that day and plus/minus any changes to estimated times submitted on that day</td>
            </tr>
          </tbody>
        </table>

        <h4>Consistent Features</h4>

        The following features are consistent between the two different burndown chart types.

        <table id="burndownchart-types" class="table table-dark table-striped"  style="width:100%">
          <!-- <thead>
            <tr>
              <th scope="col" class="text-center"></th>
              <th scope="col" class="text-center"></th>
            </tr>
          </thead> -->
          <tbody>
            <tr class="bg-primary">
              <td scope="row" colspan=2 class="text-center">Start Dates</td>
            </tr>
            <tr>
              <td scope="row">What is the first date?<br /><strong>(Project wide chart)</strong></td>
              <td>The earliest date of:
                <ul>
                    <li>Issue Creation</li>
                    <li>Milestone start date</li>
                    <li>Spent Time</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td scope="row">What is the first date?<br /><strong>(Milestone/Sprint chart)</strong></td>
              <td>Milestone start date</td>
            </tr>
            <tr>
              <td scope="row">Spent before the start of the sprint</td>
              <td>Combined with the first date of the chart</td>
            </tr>
            <tr>
              <td scope="row">Estimate changes entered before the start of the chart</td>
              <td>Combined with the first date of the chart</td>
            </tr>



            <tr class="bg-primary">
              <td scope="row" colspan=2 class="text-center">End Dates</td>
            </tr>
            <tr>
              <td scope="row">What is the last date?<br /><strong>(Project wide chart)</strong></td>
              <td>The latest date of:
                <ul>
                    <li>Issue creation date</li>
                    <li>Milestone end date</li>
                    <li>Latest spent time</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td scope="row">What is the last date?<br /><strong>(Milestone/Sprint chart)</strong></td>
              <td>The latest date of:
                <ul>
                    <li>Milestone end date</li>
                    <li>Latest estimated time</li>
                    <li>Latest spent time</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td scope="row">Spent after the end of the sprint?</td>
              <td>Shows on the date spent</td>
            </tr>



            <tr class="bg-primary">
              <td scope="row" colspan=2 class="text-center">Ideal Burndown Line</td>
            </tr>
            <tr>
              <td>How value changes</td>
              <td>Decreases at a constant rate</td>
            </tr>
            <tr>
              <td scope="row">How value ends</td>
              <td>Zero at the end date of the project (see above) or end date of the sprint if applicable</td>
            </tr>



            <tr class="bg-primary">
              <td scope="row" colspan=2 class="text-center">Remaining Effort Line</td>
            </tr>
            <tr>
              <td scope="row">Excess Spends</td>
              <td>If more time is spent than estimated, the estimated time is not altered.  This means a negative remaining effort is possible.</td>
            </tr>



            <tr class="bg-primary">
              <td scope="row" colspan=2 class="text-center">Actual Effort Trend Line</td>
            </tr>
            <tr>
              <td>How value changes</td>
              <td>Linear Regression of the Remaining Effort line</td>
            </tr>



            <tr class="bg-primary">
              <td scope="row" colspan=2 class="text-center">Completed Hours Bars</td>
            </tr>
            <tr>
              <td>What is included?</td>
              <td>The sum of all hours spent on that day</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="faq-fixtime">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-fixtime" aria-expanded="false" aria-controls="collapse-fixtime">
        How to fix estimated and spent hours
      </button>
    </div>
    <div id="collapse-fixtime" class="collapse" aria-labelledby="faq-fixtime" data-parent="#faq-accordion">
      <div class="card-body">
        Coming Soon
      </div>
    </div>
  </div>

  <!-- <div class="card">
    <div class="card-header" id="faq-future">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-future" aria-expanded="false" aria-controls="collapse-future">
        Future Plans
      </button>
    </div>
    <div id="collapse-future" class="collapse" aria-labelledby="faq-future" data-parent="#faq-accordion">
      <div class="card-body">
        <p>
          Below you will find a summary of future changes to this site.
          <table id="agilePlans" class="table table-dark table-hover" style="width:100%;"></table>
        </p>
      </div>
    </div>
  </div> -->

  <!-- <div class="card">
    <div class="card-header" id="faq-X">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-X" aria-expanded="false" aria-controls="collapse-X">
        How to revoke access
      </button>
    </div>
    <div id="collapse-X" class="collapse" aria-labelledby="faq-X" data-parent="#faq-accordion">
      <div class="card-body">
        Coming Soon
      </div>
    </div>
  </div> -->

  <!-- <div class="card">
    <div class="card-header" id="faq-XX">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-XX" aria-expanded="false" aria-controls="collapse-XX">
        How to add a new Gitlab website
      </button>
    </div>
    <div id="collapse-XX" class="collapse" aria-labelledby="faq-XX" data-parent="#faq-accordion">
      <div class="card-body">
        Coming Soon
      </div>
    </div>
  </div> -->

</div>
