html {
  overflow-y: scroll;
}
body {
  background-color: #232323;
  color: white;
  margin: 0;
  font-family: "Montserrat", "Avenir";
  line-height: 1.5;
  /* text-transform: uppercase; */
}
.head {
  line-height: 1;
}
h1 {
  text-align: center;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  padding: 20px 0;
  font-size: 36px;
}
h1 a,
h2 a {
  text-decoration: none;
}
h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited {
  color: white;
}
h1 a:hover,
h2 a:hover {
  color: black;
}
.nodec, .nodec:hover {
  text-decoration: none;
  color: white;
}
.stripe {
  background: white;
  color: black;
  height: 40px;
  text-align: center;
  font-size: 16px;
}
.btn-group {
  height: 100%;
}
.btn, button, button:focus {
  /* border: none; */
  /* border-radius: 0; */
  background: steelblue;
  /* padding: 0 6px; */
  /* text-transform: uppercase; */
  /* height: 100%; */
  /* font-weight: 700; */
  color: white;
  justify-content: center;
  /* letter-spacing: .7px; */
  /* font-size: inherit; */
  /* transition: all .3s; */
  /* outline: none; */
}
.dropdown-menu > li > a:hover,
.selected,
button:hover {
  color: white;
  background: steelblue;
}
.btn {
  min-width: 155px;
}
.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid steelblue;
  border-bottom: 4px solid transparent;
}
.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  height: 100%;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: steelblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: steelblue;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.header {
  text-transform: none;
  color: steelblue;
  background: white;
}
.header .text-center {
  padding: 10px;
  text-align: center;
}
.header a {
  color: steelblue;
}
.nav-item a {
  color: #b44663;
  font-weight: bold;
}
.bounce {
  width: 40px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-60px);
  }
  60% {
    transform: translateX(-30px);
  }
}
p {
  padding: 0 20px;
}
.container a {
  /* text-decoration: none; */
}
.container a:link,
.container a:visited {
  color: white;
}
.container a:hover {
  color: steelblue;
}
h2 {
  padding: 20px 10px;
	background-color: steelblue;
}
a.linkheader {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  padding: 20px 10px;
	background-color: steelblue;
  text-decoration: none;
}
a:link.linkheader,
a:visited.linkheader {
  color: white;
}
a:hover.linkheader {
  color: black;
}
.indent {
  padding-left: 40px;
}
td a {
    color: white;
    display:block;
    width:100%;
}
td a:hover {
  color: white;
}
.page-item.active .page-link {
  background-color: steelblue;
  border-color: steelblue;
  color: white;
}

.page-item.disabled .page-link {
  background-color: white;
  border-color: white;
  color: steelblue;
}
.tab-pane {
	margin-top: 15px;
}

.nav-link {
  margin-top: 4px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  margin-left: 5px;
  background-color: steelblue;
  border-color: steelblue;
  border-bottom: white;
  color: white;
}
.nav-tabs .nav-link {
  margin-left: 5px;
  background-color: darkgrey;
  color: white;
}
.progress-bar {
	background-color: steelblue;
}

.pad-below {
  padding-bottom: 15px;
}


.nav-pills .nav-link {
  margin-left: 5px;
  background-color: #333;
  color: #6c757d;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: steelblue;
}
