$background: #282828;

$color-primary-0-inverse: white;
$color-primary-0-disabled: #333333;

$color-primary-0: #32698E;	// Main Primary color */
$color-primary-1: #6999B8;
$color-primary-2: #477B9D;
$color-primary-3: #A4BBC9;
$color-primary-4: #124769;

$color-secondary-1-0: #3C4C97;	// Main Secondary color (1) */
$color-secondary-1-1: #7381C0;
$color-secondary-1-2: #5261A8;
$color-secondary-1-3: #27388A;
$color-secondary-1-4: #1A2970;

$color-secondary-2-0: #2E9470;	// Main Secondary color (2) */
$color-secondary-2-1: #67BE9F;
$color-secondary-2-2: #45A583;
$color-secondary-2-3: #188760;
$color-secondary-2-4: #0E6F4C;

$color-error: #642200;
$color-error-inverse: #DEE2E6;

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";
$selected: "&:hover, &:focus";
$nav-tab-border: #DEE2E6;
$row-margins: "0 0 16px -15px";
